.actions-bar {
  justify-content: space-between;
  grid-auto-flow: column;
  display: grid;
}

.actions-bar__left,
.actions-bar__right {
  grid-auto-flow: column;
  grid-column-gap: 16px;
  display: grid;
}
